{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      ChurchViews : Find Beautiful Places of Worship  </p>
    <p class="box">
      <i class="fas fa-duotone fa-place-of-worship fa-10x" style="color:darkorange"></i>
      <i class="fas fa-solid fa-church fa-10x" style="color:deepskyblue"></i>
      <i class="fas fa-solid fa-bible fa-10x" style="color:deepskyblue"></i>
    </p>
  </div>
</section>
