{{> menu}}

<section class="section">
  <div class ="title">
    {{denomination.title}}
  </div>
  {{> list-churches}} {{! import list-churches partials }}
  {{> add-church}} {{! import add-church partials }}
</section>