{{> welcome-menu}}

<div class="columns is-vcentered">
 
  <div class="column has-text-centered">
    <h1 class ="title"> Please Sign up or Login to Proceed </h1>
  </div>

  <div class="column">
    <img src="/images/churches.jpg">
  </div>
</div>

<style>
img{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
</style>
