<form class="box" action="/denomination/{{denomination._id}}/addchurch" method="POST">
  <label>Enter Church Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Church Name" name="name">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Description" name="description">
      </div>
      <div class="field">
        <input class="input" type="number" step="any" placeholder="Enter Latitude" name="latitude">
      </div>
      <div class="field">
        <input class="input" type="number" step="any" placeholder="Enter Longitude" name="longitude">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Church</button>
</form>
