<form action="/dashboard/adddenomination" method="POST">
  <div class="field">
    <label class="label">Name of Denomination</label> <input class="input" type="text" placeholder="Enter denomination type" name="title">
  </div>
  <button class="button is-link">Add Denomination</button>
</form>
