<div class="my-6 subtitle has-text-centered">
  <p>List of Denominations on ChurchViews</p>
  <p>Number of Denominations Currently on the app: {{numberOfDenominations}}</p> 
</div>
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Denomination Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each denominations}}
      <tr>
        <td>
          {{title}}
        </td>
                <td>
          <a href="/denomination/{{../denomination._id}}/deletechurch/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
      {{/each}}
  </tbody>
</table>