    <footer class="content has-text-centered is-flex-align-items-flex-end mt-auto">
        <p>
          <strong>ChurchViews</strong> by Ayo Onamusi</a>. The source code is available on
          <a href="https://github.com/ayo-codes/ChurchViews">Github</a>.
        </p>
    </footer>
  