    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>ChurchViews</strong> by Ayo Onamusi</a>. The source code is available on
          <a href="https://github.com/ayo-codes/ChurchViews">Github</a>.
        </p>
      </div>
    </footer>
  