{{#each denominations}}
  <div class="box box-link-hover-shadow">
    <h2 class="title">
      {{title}}
    </h2>
    <a href="/denomination/{{_id}}" class="button">
      <span class="icon is-small">
      <i class="fas fa-folder-open"></i>
      </span>
       <a href="/denomination/{{_id}}/editdenomination" class="ui icon button">
        <i class="fas fa-edit"></i>
      </a>
    </a>
    <a href="/dashboard/deletedenomination/{{_id}}" class="button">
      <i class="fas fa-trash"></i>
    </a>
  </div>
{{/each}}
