<nav class="navbar">
  <div class="navbar-brand">
    {{> church-brand}}
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons are-medium">
          <a id="dashboard" class="button is-link is-outlined" href="/dashboard"> Dashboard </a>
          <a id="about" class="button is-link is-outlined" href="/about"> About </a>
          <a id="profile" class="button is-link is-outlined " href="/profile">Profile</a>
          <a id="backoffice" class="button is-link is-outlined" href="/backoffice">Backoffice</a>
          <a id="logout" class="button is-link is-outlined" href="/logout"> Logout </a>
        </div>
      </div>
    </div>
  </div>
</nav>
