<div class ="title has-text-centered">
  <p class=" my-6">Your Profile Page</p>
</div>
<table class="my-6 table is-fullwidth">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Surname</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {{user.firstName}}
      </td>
      <td>
        {{user.lastName}}
      </td>
      <td>
        {{user.email}}
      </td>
      <td>
    <a href="/user/{{user._id}}/edituser" class="ui icon button">
        <i class="fas fa-edit"></i>
      </a>
      </td>
    </tr>
  </tbody>
</table>

